/*------------------------------------*\
	[FONTS]
\*------------------------------------*/


// SIZE

@for $i from 1 through 100 {
  %f#{$i} {
	font-size: ($i/10)+em;
  };
}

// STYLES

%f-regular {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 400;
}

%f-bold {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 700;
}

%f-semibold {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 600;
}

%f-light {
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: 300;
}
