doctype html(lang='en')
head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	base(href='/')
	title Document
	link(rel='icon', type='image/png', href='/public/assets/img/favicon.png')
	link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300')
	link(rel='stylesheet', href='/public/assets/css/compiled/app.css')
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAtqDRHHavgN6gzR_EG25ZK3qhL0qaXVWQ')
	script(type='text/javascript', src='/public/assets/js/app.js')
body
	.wrapper
		block content
	script.
		Box.Application.init({
			debug: true
		});
