extends includes/base

block content
	include includes/header
	main
		section
			.row
				.small-12.columns
					.estates-filter(data-module="estates.filter")
						.btn.btn--float
							a(href="/imoveis/novo") +
						.estates-filter__search
							input(type="text" placeholder="Pesquisar por endereço ou vizinhança" data-type="filter-address")
						.estates-filter__items
							.select
								label Tipo do Imóvel
								select(data-type="filter-buildingType")
									option(value="Andar Corrido") Andar Corrido
									option(value="Apart Hotel") Apart Hotel
									option(value="Apartamento") Apartamento
									option(value="Casa") Casa
									option(value="Casa em Condominio") Casa em Condominio
									option(value="Cobertura") Cobertura
									option(value="Galpão") Galpão
									option(value="Loja") Loja
									option(value="Lote") Lote
									option(value="Lote em Condominio") Lote em Condominio
									option(value="Predio") Predio
									option(value="Sala") Sala
									option(value="Vaga de Garagem") Vaga de Garagem
									option(value="all" selected) Todos
							.select
								label Estatus do Imóvel
								select(data-type="filter-status")
									option(value="sold") Vendido
									option(value="rented") Alugado
									option(value="available") Disponível
									option(value="negotiation") Em Negociação
									option(value="all" selected) Todos
							.select
								label Ação do Imóvel	
								select(data-type="filter-action")
									option(value="sell") Venda
									option(value="rent") Aluguel
									option(value="all" selected) Todos
			.row
				.small-12.columns
					#estates.row.estates-content(data-module="estates.content")
