.btn {
	text-transform: uppercase;
	background: #54c08a;
	border: 1px solid #2bb26e;
	border-radius: 2px;
	color: #fff;
	padding: 10px 0.5em 8px 0.5em;
	outline: 0;
	min-width: 120px;
	letter-spacing: 1px;
	overflow: hidden;

	@extend %f8;
	@extend %f-bold;

	&:focus,
	&:active {
		outline: 0;
	}

	@include vendor(transform, translateZ(0));

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 100%;
		background: rgba(#000, 0.1);
		z-index: 1;

		@include vendor(transition, transform 0.3s ease-out);
		@include vendor(transform, scale(0));
	}

	&:hover {
		&:before {
			@include vendor(transform, scale(2));
		}
	}
}

.btn--green {
	background-color: $green;
	border-color: darken($green, 5%);
}

.btn--master {
	background-color: $master;
	border-color: darken($master, 5%);
}

.btn--grey {
	background-color: $master-light1;
	border-color: darken($master-light1, 5%);
}

.btn--search {
	line-height: 18px;

	@extend %font-config;
	@extend .pe-7s-search;

	&:before {
		float: right;
		@extend %f15;
	}
}

.btn--float {
	position: absolute;
    top: -85px;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 0;
    min-width: auto;

	a {
		position: relative;
		z-index: 2;
		color: #fff;
		display: block;
		text-align: center;
		text-decoration: none;
		margin: -5px 0 0 4px;

		@extend %f-light;
		@extend %f40;
	}
}
