section {
	.section__content {
		padding: 3em 0;
	}
}

// .estates-area {
// 	position: relative;
// 	@extend .row;
//
// 	.estate {
// 		margin-bottom: 20px;
// 	}
//
// 	.section__button {
// 		position: absolute;
// 		right: 0;
// 		top: -5em;
//
// 		a {
// 			display: block;
// 			width: 60px;
// 			height: 60px;
// 			background-color: $green;
// 			color: #fff;
// 			text-align: center;
// 			text-decoration: none;
//
// 			@include vendor(border-radius, 50%);
// 			@extend %f20;
// 			@extend %font-config;
// 			@extend .pe-7s-plus;
// 			@include vendor(box-shadow, 0 1px 5px rgba(0,0,0,.28));
// 			@include vendor(transition, transform 0.2s ease);
//
// 			&:before {
// 				margin-top: 14px;
// 			}
//
// 			&:hover {
// 				@include vendor(transform, scale(1.1));
// 			}
// 		}
// 	}
// }

.estates-filter {
	margin-bottom: 40px;

	@extend .clearfix;
}

.estates-filter__search {
	position: relative;
	width: 40%;
	float: left;

	@extend %font-config;
	@extend .pe-7s-search;

	&:before {
		position: absolute;
		left: 0;
		top: 10px;

		@extend %f20;
	}

	input {
		border: none;
		border-bottom: 1px solid #ccc;
		padding: 1em 1em 1em 3em;
		display: block;
		background-color: transparent;
		color: $master;
		width: 50%;
		float: left;
		cursor: pointer;

		@include vendor(transition, all 0.7s ease-out);
		@include opacity(0);
		@extend %f-light;
		@extend %f10;

		&:active,
		&:focus {
			outline: 0;
		}

		&:hover {
			width: 100%;
			@include opacity(10);
		}
	}

	.active {
		width: 100%;
		@include opacity(10);
	}
}

.estates-filter__items {
	width: 60%;
	float: right;
	margin-top: 10px;

	@extend .clearfix;

	.select {
		float: right;
		margin-right: 80px;

		&:first-child {
			margin-right: 0;
		}
	}
}

.estates-content {
	.estate {
		margin-bottom: 15px;
	}
}
