header {
	background-color: $master;
	height: 163px;
}

.nav {
	padding: 1em 0;
	ul {
		list-style: none;
		margin: 0 0 0 3px;
		padding: 0;
		@extend .clearfix;
	}

	li {
		float: left;
		margin-left: 25px;

		&:first-child {
			margin-left: 0;
		}
	}

	a {
		display: block;
		color: #fff;
		text-decoration: none;
		color: $master-light1;
		@extend %f-regular;
		@extend %f8;
		@include vendor(transition, color 0.3s ease);

		&:hover {
			color: #fff;
		}
	}
}

.nav-header {
	padding: 1.5em 0 2.5em 0;
	background-color: $master;

	.title {
		margin: 0;
		line-height: 48px;
		color: #fff;
		letter-spacing: 1px;
		border: none;
		background-color: transparent;
		padding: 0;


		@extend %f-light;
		@extend %f20;
	}
}

.nav-header__logo {
	float: left;
	margin: 6px 20px 0 -62px;
	padding-right: 20px;
	border-right: 1px solid #424344;

	img {
		width: 35px;
	}
}

.nav-header__dropdown {
	float: left;
	margin-left: -2px;
}

.nav-header__dropdown {
	position: relative;
	button {
		@extend %font-config;
		@extend .pe-7s-angle-down;
		&:before {
			float: right;
			margin: 15px 0 0 15px;
			@extend %f6;
		}
		&:focus,
		&:active {
			outline: 0;
		}

		&:hover {
			color: #CECBCB;
		}
	}
}

.nav-header__dropdown__area {
	position: absolute;
	top: 0;
	width: 300px;
	background: #fff;
	z-index: 10;
	overflow: hidden;

	@include vendor(box-shadow, 0 0 1px rgba(76,86,103,.25),0 2px 18px rgba(31,37,50,.32));
	@include vendor(transition, all 0.2s ease);
	@include vendor(transform, scaleY(0));

	ul {
		list-style: none;
		margin: 0;
		padding: 1.5em 2em;
		display: block;
	}

	a, span {
		display: block;
		text-decoration: none;
		color: #999;
		padding: 0.5em 0;

		@extend %f-light;
		@extend %f10;
		@include vendor(transition, color 0.2s ease);

		&:focus,
		&:active {
			outline: none;
		}
	}

	span {
		color: $master;
	}

	a:hover {
		color: $master;
	}
}

.nav-header__dropdown.active {
	button {
		@extend .pe-7s-angle-up;
	}

	.nav-header__dropdown__area {
		@include vendor(transform, scaleY(1));
	}
}

.page__header--sublinks {
	width: 100%;
	background: $master;
	padding: 0;
	overflow: hidden;
	margin: -10px 0 0 0;
	@include vendor(transform, scaleY(0));
	@extend .nav;
	@include vendor(animation, down 0.1s ease 1 forwards 0.2s);

	ul {
		margin-left: -7px;
	}

	li {
		margin-left: 35px;
		padding: 1em;
		text-transform: uppercase;
		letter-spacing: 1px;
		border-bottom: 2px solid transparent;
		color: $master-light1;
		@extend %f7;
	}

	li.active {
		color: #fff;
		border-color: $green;
	}
}

.page__header--sublinks--steps {
	li {
		position: relative;
		@extend %font-config;
		@extend .pe-7s-angle-right;
		&:before {
			position: absolute;
			right: -30px;
			top: 10px;
			font-size: 1.5em;
		}
	}
	li:last-child {
		&:before {
			display: none;
		}
	}
}

@-webkit-keyframes down {
	0% {
		-webkit-transform: scaleY(0);
	}
	100% {
		-webkit-transform: scaleY(1);
	}
}
@-moz-keyframes down {
	0% {
		-moz-transform: scaleY(0);
	}
	100% {
		-moz-transform: scaleY(1);
	}
}
@-o-keyframes down {
	0% {
		-o-transform: scaleY(0);
	}
	100% {
		-o-transform: scaleY(1);
	}
}
