extends base

block content
	nav
		.nav
			.nav__logo
				img(src="/public/assets/imgs/logo/casamestra.svg")
			ul
				li
					a(href='/') Home
				li
					a(href='/teste') Teste
	main
		div(ng-view)
	
		
					
