<!DOCTYPE html>
<html lang="en" data-ng-app="cm" ng-strict-di>
<head>
	<meta charset="UTF-8">
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<base href="/">
	<title>Document</title>

	<link rel='icon' type='image/png' href='/public/assets/img/favicon.png'>

	<link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300'>
	<link rel='stylesheet' href='/public/assets/css/compiled/app.css'>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtqDRHHavgN6gzR_EG25ZK3qhL0qaXVWQ"></script>
	<script type='text/javascript' src='/public/assets/js/app.js'></script>

</head>
<body>
	<div class="wrapper">
		<header ng-controller="Nav as vm">
			<div class="row">
				<nav class="nav">
					<ul>
						<li>
							<a href="/dashboard">Dashboard</a>
						</li>
						<li>
							<a href="/estates">Imóveis</a>
						</li>
						<li>
							<a href="/neighborhood">Vizinhanças</a>
						</li>
						<li>
							<a href="/agents">Corretores</a>
						</li>
						<li>
							<a href="/users">Usuários</a>
						</li>
					</ul>
				</nav>
				<div class="page__header">
					<div class="row">
						<div class="logo">
							<img src="/public/assets/imgs/logo/casamestra-footer.svg" alt="">
						</div>
						<div cm-dropdown class="section__header__dropdown">
							<button class="title" ng-click="open($event);">{{ header.title }}</button>
							<div class="section__header__dropdown__area">
								<ul>
									<li>
										<span>{{ header.title }}</span>
									</li>
									<li ng-repeat="links in header.links track by $index">
										<a href="{{ links.url }}">{{ links.title }}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<main>
			<div class="content">
				<div ng-view></div>
			</div>
		</main>
	</div>
</body>
</html>
